@import "_variable-mixed.scss";

.video-block {
	height: 250px;
	fieldset {
		padding: 0 20px;
		display: block;
		padding: 20px 20px 10px;
		border-top: 3px double black;
		text-align: center;
		legend {
			display: block;
			width: 170px;
			height: 40px;
			background: $bckg-legend;
			color: $color-legend;
			text-shadow: 1px 0px 4px black;
			border-radius: 5px;
			padding: 7px;
			font-size: $fontSz + 4px;
			border-top: 3px double black; 
			border-bottom: 3px double black;
			box-shadow: 0 19px 6px -12px #000; 
		}
		ul {
			display: flex;
			li {
				display: inline-block;
				width: 300px;
				height: 160px;
				background: #502424;
			}
			.marg-right-video {
				margin-right: 10px;
			}
		}
	}
}