@import "_variable-mixed.scss";

body {
	background:linear-gradient(70deg, #ae36c7, #c28053);
	.wrapper {
		width: 1000px;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.2);
		header {
			display: flex;
			height: 136px;
			padding: 0px 20px;
			margin-bottom: 20px;
			border-bottom: $bord-bot-block;
			background-color: rgba(0,0,0,0.6);
		  	.logo {
		  		display: inline-block;
		  		margin-top: 10px;
		  	}
		  	.menu {
		  		border-radius: 10px;
		  		margin: 40px 0px 0px 170px;
		  		display: inline-block;
		  		height: 55px;
		  		background: $bckg-menu;
		  		box-shadow: 0 19px 6px -12px #000;
		  		.border-li-1 {
		  			border-radius: 10px 0px 0px 10px;
		  			&::before {
		  				border-radius: 10px 0px 1px 10px;
					}
		  		}
		  		.border-li-5 {
		  			border-radius: 0px 10px 10px 0px;
		  			&::before {
		  				border-radius: 0px 10px 10px 0px;
					}					}
		  		}
		  		li {
		  			height: 55px;
					width: 128px;
					position: relative;
			  		display: inline-block;
		  			&::before {
						content: "";
						display: block;
						background-color: #F0A0ED;
						width: 0px;
						height: 55px;
						position: absolute;
						transition: all .5s;
					}
					&:hover::before {
						width: 128px;
					}
					a {	
						display: block;
						margin-top: 20px;
						position: relative; 
						width: 128px;
						height: 55px;
						text-align: center;
						color: $color-default;
						font-size: 15px;
						text-transform: uppercase;
						text-decoration: none;
						text-shadow: 0 1px 3px black;
						&:hover {
							color: black;
							text-shadow: 0 1px 3px white;
							z-index: 2;
							transition: all .5s;
						}
					}
				}	
		  	}
	    }
	}



.wiki {

	h1 {
	    position: relative;
	    color: $color-default;
	    font-size: $fontSz;
	    text-shadow: 0 1px 2px black;
	    font-family: $font-default;
	    line-height: 1.5;
	    margin-bottom: 10px;
	    font-style: italic;
   	}
}	