@media (min-width: 240px) and (max-width: 480px) {
footer {
	background: #1f232c;
	height: 40px;
	color: #737373;
	font-family: Georgia, sans-serif;
	padding: 5px 1px;
	font-size: 6px;
	.copyright {
		display: inline;
	}
	.template {
		display: inline;

	}
}

}