@media (min-width: 769px) and (max-width: 960px) {
	nav {
	height: 220px;
	background: #eeeeee;
	padding: 20px;
	font-family: Georgia, sans-serif;
	color: #7c7c7c;
	font-size: 12px;
	.contact-us {
		width: 200px;
		display: block;
		float: left;
		margin-right: 30px;
		h1 {
			display: block;
			font-size: 18px;
			color: #2c2c2c;
			margin-bottom: 24px;
		}
		ul li {
			line-height: 1.65;
		}
		.ul-1 {
			margin-bottom: 8px;
		}
	}
	.quick-links {
		width: 200px;
		margin-right: 30px;
		display: block;
		float: left;
		h1 {
			display: block;
			font-size: 16px;
			color: #2c2c2c;
			margin-bottom: 17px;
		}
		ul li {
			font-weight: 500;
			display: block;
			padding: 9px 0px;
			border-bottom: 1px solid gray;
			a {
				text-decoration: none;
				color: #1f232c;
				&:hover {
					color: #D5C6C6;
					border-left: 1px solid gray;
					text-shadow: 0px 0px 3px black;
				}
			}
		}
	}
	.from-the-blog {
		width: 224px;
		margin-right: 22px;
		display: none;
		float: left;
		h1 {
			display: block;
			font-size: 16px;
			color: #2c2c2c;
			margin-bottom: 26px;
		}
		h3 {
			font-size: 13px;
			color: #7c7c7c;
			display: block;
			margin-bottom: 6px;
			font-weight: 700;
		}
		.text-11 {
			font-size: 11px;
			display: block;
			margin-bottom: 7px;
		}
		ul li {
			line-height: 1.5;
		}
		a {
			display: block;
			float: right;
			margin-top: 13px;
			text-decoration: none;
			color: #1f232c;
			&:hover {
				color: gray;
				text-decoration: underline;
			}
		}
	}
	.grab-our-newsletter {
		display: block;
		h1 {
			display: block;
			font-size: 16px;
			color: #2c2c2c;
			margin-bottom: 38px;
		}
		ul li input {
			display: block;
			background: white;
			border-radius: 5px;
			outline: none;
			border: none;
			color: black;
			font-size: 13px;
			height: 30px;
			width: 200px;
			padding: 9px;
			margin-bottom: 11px;
		}
		.button {
			display: block;
			width: 75px;
			height: 28px;
			background: #1f232c;
			border-radius: 5px;
			border: none;
			outline: none;
			text-transform: uppercase;
			color: white;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

footer {

	font-size: 12px;
}
}