#checkbox_id {
	display: block;
	width: 640px;
	margin: 15px 5px 0 5px;
	font-size: 18px;
	font-family: Arial;
	font-weight: 700;
	color: black;
	text-shadow: 1px 1px 3px white;
}
#checkbox_id div {
	display: inline-block;
	margin-right: 6px;
	margin-left: 3px;
}
#checkbox_id label {
	position: relative;
	display: inline;
	top: -14px;
	margin: 5px;
}
/*==========================================*/
