/*@extend .wrap_jcarousel;*/
@media (min-width: 768px) and (max-width: 1439px) {
  body {
    background-color: #ffffff; }
    body .wrapper {
      width: 768px;
      height: auto;
      margin: 0 auto;
      background-color: #ffffff;
      box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.2); } }
