/*@extend .wrap_jcarousel;*/
@media (min-width: 768px) and (max-width: 1439px) {
  .search-title {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 112.5%;
    margin: 33px 0 39px; }
  .search-interest {
    display: block;
    width: 768px;
    height: 140px;
    text-align: center; }
    .search-interest-text {
      display: inline-block;
      width: 240px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      background: none;
      color: black;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 87.5%;
      padding-left: 12px;
      padding-top: 9px;
      -webkit-transition: .5s all;
      transition: .5s all;
      margin-right: 11px; }
      .search-interest-text:focus {
        border: 1px solid black;
        outline: none;
        -webkit-transition: .5s all;
        transition: .5s all;
        box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.7);
        width: 300px; }
    .search-interest-submit {
      display: inline-block;
      width: 161px;
      height: 40px;
      border-radius: 40px;
      background: #ff4e50;
      color: white;
      font-size: 87.5%;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      outline: none;
      border: none;
      -webkit-transition: .3s all;
      transition: .3s all;
      margin-top: 40px; }
      .search-interest-submit:hover {
        color: #ff4e50;
        background: none;
        border: 1px solid #ff4e50;
        outline: none;
        -webkit-transition: .3s all;
        transition: .3s all; } }
