
@font-face {
    font-family: 'fff_tusjbold';
    src: url('fff_tusj-webfont.eot');
    src: url('fff_tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('fff_tusj-webfont.woff2') format('woff2'),
         url('fff_tusj-webfont.woff') format('woff'),
         url('fff_tusj-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}