@media (min-width: 769px) and (max-width: 960px) {

.big_text {
	display: block;
	height: 100%;
	padding: 10px auto;
	line-height: 1.5;
}
/*============== background под 768px ==========*/

/*============== header 768px ==========*/	

/*============== slider 768px ==========*/


.slides img {
	display: inline-block;
}
/*================ SECTION 768 =========*/

/*==============БЛОК БЕЛОГО ФОНА 768 ==========*/

/*============= SLIDER LEFT WHITE 768 =============*/

.block_white_right label {
	display: inline-block;
}

/*========================= ARTICLE 768 ============*/

/*======================= ASIDE 768 ==============*/

/*====================== FOOTER 768 =============*/ 
