<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index.html</title>

	<!-- <script src="js/libs/jquery-1.12.2.min.js"></script> -->
	<!-- <script src="js/libs/template.js"></script> -->
	<!-- <script src="js/script.js"></script> -->
	<!-- <script src="js/singl/model.js"></script> -->
	<!-- <script src="js/singl/view.js"></script> -->
	<!-- <script src="js/singl/controller.js"></script> -->
	<!-- <script src="js/singl/function.js"></script> -->
	<script data-main="js/main.js" src="js/libs/require.js"></script>
	
	
</head>
<body>
	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<ul class="item-list"></ul>
		 	<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add content</button>
			</div>
		</div>
	</script>
	<script type="text/template" id="list-template">
	<% for( var i = 0 ; i < data.length; i++){ %>
		<li><%= data[i] %><span data-value="<%= data[i] %>" class="item-delete">x</span></li>
	<% }; %>
	</script>
</body>
</html>