@import "../_variable-mixed.scss";

@media (min-width: 768px) and (max-width: 1439px) {

	.search-title {
		display: block;
		text-align: center;
		font-family:  $Roboto;
		font-weight: 300;
		font-size: 112.5%;
		margin: 33px 0 39px;
	}
	.search-interest {
		display: block;
		width: 768px;
		height: 140px;
		text-align: center;
		&-text {
			display: inline-block;
			width: 240px;
			height: 40px;
			border-radius: 5px;
			border: 1px solid $color5;
			background: none;
			color: black;
			font-family:  $Roboto;
			font-weight: 300;
			font-size: 87.5%;
			padding-left: 12px;
			padding-top: 9px;
			transition: .5s all;
			margin-right: 11px;
			&:focus {
				border: 1px solid black;
				outline: none;
				transition: .5s all;
				box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.7);
				width: 300px;
			}
		}
		&-submit {
			display: inline-block;
			width: 161px;
			height: 40px;
			border-radius: 40px;
			background: $color1;
			color: white;
			font-size: 87.5%;
			font-family: $MontsBold;
			text-align: center;
			outline: none;
			border: none;
			transition: .3s all;
			margin-top: 40px;
			&:hover {
				color: $color1;
				background: none;
				border: 1px solid $color1;
				outline: none;
				transition: .3s all;
			}
		}
	}

}