@import "../_variable-mixed.scss";

@media (min-width: 768px) and (max-width: 1439px) {

	header {
		background-size: cover;
		background-position: center;
		background-image:url(/img/bckg-header.png);
		background-color:rgba(0,0,0,0.8);
		height: 700px;
		width: 100%;
		font-size: 100%;
		color: white;
		.horizontalTop {
			padding-top: 30px;
			display: block;
			font-family: $MontsBold;
			height: 115px;
			width: 100%;
			&-title {
				display: inline-block;
				float: left;
				font-size: 125%;
				text-transform: uppercase;
				letter-spacing: 1.1px;
				margin: 7px 250px 0px 48px; 
			}
			&-user {
				display: inline-block;
				height: auto;
				width: auto;
				margin-right: 48px;
				&-logIn {
					height: 38px;
					width: 68px;
					margin: 0 2px;
					text-align: center;
					font-size: 87.5%;
					outline: none;
					border: none;
					border-radius: 39px;
					background: none;
					color: white;
					letter-spacing: 0.1px;
					&:hover {
						border: 2px solid white;
					} 
				}
				&-signUp {
					@extend .horizontalTop-user-logIn;
					width: 88px;
				}
				&-input {
					display: none;
					position: absolute;
					&-login {
						display: block;
						width: 170px;
						height: 35px;
						font-size: 110%;
						background: none;
						border-radius: 25px;
						border: 2px solid white;
						padding: 0 15px; 
						margin: 11px 0px 0px;
						color: white;
						outline: none;
						transition: .5s ease-in-out;
						&:focus {
							outline: none;
							width: 210px;
						} 
					}
					&-password {
						@extend .horizontalTop-user-input-login;
					}
				}
			}

		}
		.horizontalBottom {
			display: block;
			&-title {
				margin: 90px auto 0px;
				width: 490px;
				display: block;
				text-align: center;
				&-big {
					display: block;
					font-family: $MontsBold;
					font-size: 325%;
					line-height: 123%;
					padding-top: 10px;
					text-transform: uppercase;
				}
				&-little {
					display: block;
					font-family: $Roboto;
					font-weight: 300;
					font-size: 150%;
					margin: 27px 0px 35px;

				}
				&-button {
					background-color: $color1;
					width: 225px;
					height: 40px;
					border-radius: 40px;
					border: none;
					outline: none;
					color: white; 
					font-family: $MontsBold;
					font-size: 87.5%;
					text-align: center;
					transition: .3s all;
					&:hover {
						background: rgb(0,4,0);
						background: rgba(0,0,0,.4);
						border: 2px solid $color1; 
						color: $color1;
						box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.7);
						transition: .3s all;
					}
				}
			}
		} 
	}
	
}