@import "../_variable-mixed.scss";

@media (min-width: 768px) and (max-width: 1439px) {

	.activity-title {
		display: block;
		width: 768px;
		font-size: 137.5%;
		font-family: $MontsBold;
		text-align: center;
	}

	.wrapper-activity {
		width: 768px;
		height: 1020px;
		margin-bottom: 54px;
		padding-top: 30px;
		display: block;
		.activImg {
			border-radius: 5px;
			border: 1px solid black;
			display: inline-block;
			float: left;
			margin: 5px;
			box-shadow: 0px 0px 17px 2px rgba(0,0,0, .4);
		}
		.image-1 {
			background-color: #08F5ED;
			width: 237px;
			height: 310px;
			&-item {
				width: 90%;
				height: 80%;
				&:before {
					position: relative;
					content: "Sports and Activity";
					text-align: left;
					text-transform: italic;
					font-weight: 500;
					font-family: $Roboto;
					color: white;
					bottom: -10px;
					left: 15px;
					z-index: 1;
				}
			}
		}
		.image-2 {
			@extend .image-1;
			background-color: #7AE506;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Wellnes and Health";
					color: blue;
				}
			}
		}
		.image-3 {
			@extend .image-1;
			background-color: #F90404;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Extreme Sports and Expedition";
					color: #56EA05;
				}
			}
		}
		.image-4 {
			@extend .image-1;
			background-color: #29D8F8;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Games";
					color: #EB8B03;
				}
			}
		}
		.image-5 {
			@extend .image-1;
			background-color: #140AF6;
			width: 490px;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Cultere and Education";
					color: #F6FF00;
				}
			}
		}
		.image-6 {
			@extend .image-5;
			background-color: #AFF30A;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Relaxation";
					color: #0A38E3;
				}
			}
		}
		.image-7 {
			@extend .image-1;
			background-color: #E701F5;
			&-item {
				@extend .image-1-item;
				&:before {
					@extend .image-1-item:before;
					content: "Travelling";
					color: #060606;
				}
			}
		}
	}
}