/*@extend .wrap_jcarousel;*/
@media (min-width: 1440px) {
  .jcarousel-title {
    display: block;
    padding-top: 98px;
    font-size: 137.5%;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center; }
  .wrap_jcarousel {
    width: 100%;
    height: auto;
    padding: 36px 250px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wrap_jcarousel .jcarousel-left .jcarousel {
      width: 300px;
      height: 400px;
      position: relative;
      overflow: hidden;
      border-radius: 5px; }
      .wrap_jcarousel .jcarousel-left .jcarousel-A {
        width: 20000em;
        position: relative; }
        .wrap_jcarousel .jcarousel-left .jcarousel-A-slide, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4 {
          display: block;
          float: left;
          width: 300px;
          height: 400px;
          background-image: url(../img/slide-1-1.jpg);
          background-position: center; }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-titleLittle, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-titleLittle, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-titleLittle, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-titleLittle {
            display: block;
            position: relative;
            z-index: 2;
            top: 229px;
            left: 20px;
            background: #ff4e50;
            border-radius: 20px;
            width: 70px;
            height: 19px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: "Montserrat Regular", Arial, sans-serif;
            font-size: 62.5%;
            padding-top: 6px;
            letter-spacing: 0.5px; }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-title {
            top: 247px;
            font-family: "Montserrat Bold", Arial, sans-serif;
            font-size: 150%;
            height: 56px;
            width: 172px;
            background: none;
            text-transform: none;
            text-align: left;
            padding-top: 0px;
            letter-spacing: 0px;
            line-height: 114%; }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-text {
            top: 261px;
            font-family: "Roboto", sans-serif;
            font-size: 87.5%;
            font-weight: 300;
            height: 47px;
            width: 260px;
            background: none;
            line-height: 116%; }
        .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2 {
          background-image: url(../img/slide-1-2.jpg); }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-2-titleLittle {
            background: #4e73db; }
        .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3 {
          background-image: url(../img/slide-1-3.jpg); }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-3-titleLittle {
            background: #1cd7ad; }
        .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4 {
          background-image: url(../img/slide-1-4.jpg); }
          .wrap_jcarousel .jcarousel-left .jcarousel-A-slide-4-titleLittle {
            background: #ffa507; }
      .wrap_jcarousel .jcarousel-left .jcarousel-prev, .wrap_jcarousel .jcarousel-left .jcarousel-next {
        display: inline-block;
        position: relative;
        top: -250px;
        left: 13px; }
        .wrap_jcarousel .jcarousel-left .jcarousel-prev:hover, .wrap_jcarousel .jcarousel-left .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-left .jcarousel-prev-image {
          width: 41px;
          height: 60px; }
      .wrap_jcarousel .jcarousel-left .jcarousel-next {
        left: 200px; }
        .wrap_jcarousel .jcarousel-left .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-left .jcarousel-next-image {
          width: 41px;
          height: 60px; }
    .wrap_jcarousel .jcarousel-centr .jcarousel {
      width: 300px;
      height: 400px;
      position: relative;
      overflow: hidden;
      border-radius: 5px; }
      .wrap_jcarousel .jcarousel-centr .jcarousel-A {
        width: 20000em;
        position: relative; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4 {
          display: block;
          float: left;
          width: 300px;
          height: 400px;
          background-position: center;
          background-image: url(../img/slide-2-1.jpg); }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-titleLittle, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-titleLittle, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-titleLittle, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-titleLittle {
            display: block;
            position: relative;
            z-index: 2;
            top: 260px;
            left: 20px;
            background: #ff4e50;
            border-radius: 20px;
            width: 70px;
            height: 19px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: "Montserrat Regular", Arial, sans-serif;
            font-size: 62.5%;
            padding-top: 6px;
            letter-spacing: 0.5px; }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-title {
            top: 276px;
            font-family: "Montserrat Bold", Arial, sans-serif;
            font-size: 150%;
            height: 56px;
            width: 200px;
            background: none;
            text-transform: none;
            text-align: left;
            padding-top: 0px;
            letter-spacing: 0px;
            line-height: 114%; }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-text {
            top: 260px;
            font-family: "Roboto", sans-serif;
            font-size: 87.5%;
            font-weight: 300;
            height: 47px;
            width: 260px;
            background: none;
            line-height: 116%;
            letter-spacing: 0.1px; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2 {
          background-image: url(../img/slide-2-2.jpg); }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-2-titleLittle {
            background: #4e73db; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3 {
          background-image: url(../img/slide-2-3.jpg); }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-3-titleLittle {
            background: #1cd7ad; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4 {
          background-image: url(../img/slide-2-4.jpg); }
          .wrap_jcarousel .jcarousel-centr .jcarousel-A-slide-4-titleLittle {
            background: #ffa507; }
      .wrap_jcarousel .jcarousel-centr .jcarousel-prev, .wrap_jcarousel .jcarousel-centr .jcarousel-next {
        display: inline-block;
        position: relative;
        top: -250px;
        left: 13px; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-prev:hover, .wrap_jcarousel .jcarousel-centr .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-prev-image {
          width: 41px;
          height: 60px; }
      .wrap_jcarousel .jcarousel-centr .jcarousel-next {
        left: 200px; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-centr .jcarousel-next-image {
          width: 41px;
          height: 60px; }
    .wrap_jcarousel .jcarousel-right .jcarousel {
      width: 300px;
      height: 400px;
      position: relative;
      overflow: hidden;
      border-radius: 5px; }
      .wrap_jcarousel .jcarousel-right .jcarousel-A {
        width: 20000em;
        position: relative; }
        .wrap_jcarousel .jcarousel-right .jcarousel-A-slide, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4 {
          display: block;
          float: left;
          width: 300px;
          height: 400px;
          background-image: url(../img/slide-3-1.jpg);
          background-position: center; }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-titleLittle, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-titleLittle, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-titleLittle, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-titleLittle {
            display: block;
            position: relative;
            z-index: 2;
            top: 229px;
            left: 20px;
            background: #ff4e50;
            border-radius: 20px;
            width: 70px;
            height: 19px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: "Montserrat Regular", Arial, sans-serif;
            font-size: 62.5%;
            padding-top: 6px;
            letter-spacing: 0.5px; }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-title, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-title {
            top: 247px;
            font-family: "Montserrat Bold", Arial, sans-serif;
            font-size: 150%;
            height: 56px;
            width: 172px;
            background: none;
            text-transform: none;
            text-align: left;
            padding-top: 0px;
            letter-spacing: 0px;
            line-height: 114%; }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-text, .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-text {
            top: 261px;
            font-family: "Roboto", sans-serif;
            font-size: 87.5%;
            font-weight: 300;
            height: 47px;
            width: 260px;
            background: none;
            line-height: 116%; }
        .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2 {
          background-image: url(../img/slide-3-2.jpg); }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-2-titleLittle {
            background: #4e73db; }
        .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3 {
          background-image: url(../img/slide-3-3.jpg); }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-3-titleLittle {
            background: #1cd7ad; }
        .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4 {
          background-image: url(../img/slide-3-4.jpg); }
          .wrap_jcarousel .jcarousel-right .jcarousel-A-slide-4-titleLittle {
            background: #ffa507; }
      .wrap_jcarousel .jcarousel-right .jcarousel-prev, .wrap_jcarousel .jcarousel-right .jcarousel-next {
        display: inline-block;
        position: relative;
        top: -250px;
        left: 13px; }
        .wrap_jcarousel .jcarousel-right .jcarousel-prev:hover, .wrap_jcarousel .jcarousel-right .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-right .jcarousel-prev-image {
          width: 41px;
          height: 60px; }
      .wrap_jcarousel .jcarousel-right .jcarousel-next {
        left: 200px; }
        .wrap_jcarousel .jcarousel-right .jcarousel-next:hover {
          cursor: pointer; }
        .wrap_jcarousel .jcarousel-right .jcarousel-next-image {
          width: 41px;
          height: 60px; } }
