@import "../_variable-mixed.scss";

@media (min-width: 320px) and (max-width: 767px) {

	header {
		background-image:url(/img/bckg-header.png);
		background-color:rgba(0,0,0,0.8);
		background-size: cover;
		background-position-x: -405px;
		height: 540px;
		width: 100%;
		font-size: 100%;
		color: white;
		.horizontalTop {
			display: block;
			font-family: $MontsBold;
			height: 115px;
			width: 100%;
			&-title {
				display: block;
				font-size: 125%;
				position: relative;
				text-transform: uppercase;
				letter-spacing: 1.1px;
				top: 173px;
				left: 70px;
			}
			&-user {
				display: block;
				position: relative;
				height: auto;
				width: auto;
				left: 69px;
				&-logIn {
					height: 38px;
					width: 68px;
					margin: 0 2px;
					text-align: center;
					font-size: 87.5%;
					outline: none;
					border: none;
					border-radius: 39px;
					background: none;
					color: white;
					letter-spacing: 0.1px;
					&:hover {
						border: 3px solid white;
					} 
				}
				&-signUp {
					@extend .horizontalTop-user-logIn;
					width: 87px;
				}
				&-input {
					display: none;
					position: absolute;
					&-login {
						display: block;
						width: 170px;
						height: 35px;
						font-size: 110%;
						background: none;
						border-radius: 25px;
						border: 3px solid white;
						padding: 0 15px; 
						margin: 11px 0px 0px;
						color: white;
						outline: none;
						transition: .5s ease-in-out;
						&:focus {
							outline: none;
							width: 210px;
						} 
					}
					&-password {
						@extend .horizontalTop-user-input-login;
					}
				}
			}
		}
		.horizontalBottom {
			display: block;
			&-title {
				margin: 90px auto 0px;
				width: 320px;
				display: block;
				text-align: center;
				&-big {
					display: block;
					font-family: $MontsBold;
					font-size: 187.5%;
					line-height: 123%;
					padding-top: 15px;
					text-transform: uppercase;
				}
				&-little {
					display: block;
					font-family: $Roboto;
					font-weight: 300;
					font-size: 112.5%;
					margin: 12px auto 17px;
					width: 218px;
					line-height: 112%;
				}
				&-button {
					background-color: $color1;
					width: 279px;
					height: 40px;
					border-radius: 40px;
					border: none;
					outline: none;
					color: white; 
					font-family: $MontsBold;
					font-size: 87.5%;
					text-align: center;
					transition: .3s all;
					&:hover {
						background: rgba(0,0,0,.4);
						border: 2px solid $color1; 
						color: $color1;
						box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.7);
						transition: .3s all;
					}
				}
			}
		} 
	}
}