@import "../_variable-mixed.scss";

@media (min-width: 320px) and (max-width: 767px) {

	.search-title {
		display: block;
		text-align: center;
		font-family:  $Roboto;
		font-weight: 300;
		font-size: 112.5%;
		margin: 16px 0;
	}
	.search-interest {
		display: block;
		width: 100%;
		height: 131px;
		text-align: center;
		&-text {
			display: inline-block;
			width: 280px;
			height: 40px;
			border-radius: 5px;
			border: 1px solid $color5;
			background: none;
			color: black;
			font-family:  $Roboto;
			font-weight: 300;
			font-size: 87.5%;
			padding-left: 12px;
			transition: .5s all;
			margin-bottom: 10px;
			&:focus {
				border: 1px solid black;
				outline: none;
				transition: .5s all;
				box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.7);
				width: 300px;
			}
		}
		&-submit {
			display: inline-block;
			width: 280px;
			height: 40px;
			border-radius: 40px;
			background: $color1;
			color: white;
			font-size: 87.5%;
			font-family: $MontsBold;
			text-align: center;
			outline: none;
			border: none;
			transition: .3s all;
			&:hover {
				color: $color1;
				background: none;
				border: 1px solid $color1;
				outline: none;
				transition: .3s all;
			}
		}
	}

}