@import 'styles-search-panel';
@import 'style-article-news';
@import 'style-accordeon';
@import 'style-jcarousel';
@import 'style-block-information';
@import 'style-footer-brands';
@import 'style-nav-menu';
@import 'style-social-fixed';
@import 'style-block-information-modal';
@import 'style-header';
@import 'style-footer-table-links';
@import 'style-social';
@import 'style-footer-contact';
@import 'misprojectregular-font';
@import 'hvd_posterregular-font';
@import 'akashiregular-font';

@mixin box-shadow($h_l, $v_l, $blur, $color) {
    -ms-box-shadow: $h_l $v_l $blur $color;
    box-shadow: $h_l $v_l $blur $color;
}

$fontSz:         		18px;
$border-solid:    		1px solid black;
$font-default: 			Arial, Helvetica, sans-serif;
$font-1: 				'akashiregular';
$font-2:				'Roboto';
$modal-fontH2:  		"league_gothicregular";


$result-bkg: 			#D5D9E3;
$result-title:  		#A6B127;
$result-bkg-title:  	#212226;
$result-title-word: 	#fff; 
$result-search-word: 	#BE3C4B;
$result-shw: 			white;
$result-shwt:			#0299D5;
$icon-bkg: 				gray;
$icon-bkg-hov:			white;

$block-whidth: 			150px;
$menu-bkg: 				#2E2E2E;
$menu1-bkg-hov: 		#8A8162;
$menu2-bkg-hov: 		№665E45;
$menu2-color-hov: 		#000;
$menu-color:			#DAD7CD;

$jc-color:          	white;
$color-buttons:     	gray;

$font-h1:				50px;
$color-h1: 				black;
$color-h5: 				darkgray;

$color-links:			#CDBBF5;
$color-linksH:			#000;
$colorH4-title:	 		#595959;

$modal-bkg: 			#0B2E32;
$modal-colorH2: 		#d9f446;
$modal-colorP: 			#D8D9DA;

$news-color: 			white;
$news1-shadowTcolor: 	#FA8258;
$news2-shadowTcolor: 	#01A9DB; 
$news3-shadowTcolor: 	#2EFE2E;
$news-colorTitle: 	 	black;

$news1-colorSpoler:  	#FA8258;
$news2-colorSpoler:  	#01A9DB;
$news3-colorSpoler:  	#2EFE2E;
$newsAll-colorSpolerH:  #FCE77F;
$news-colorSpolerActiv: #A9D0F5;

$blog-colorH1:			gray;
$blog-colorH5:			gray;
$accord-colorH3:		black;
$accord-bkgH3:			#FCB95B;
$accord-bkgH3H:			gray;
