@import "_variable-mixed.scss";

body {
	background: linear-gradient(45deg, #6F6E6F, #050505, #F3FF2D, #6102E2);
	background-size: 100%;
	font-family: $font-default;
	#wrapper-header-nav-news {
		width: 1160px;
		margin: 0 auto;
		header {
			width: 100%;
			height: 137px;
			padding-top: 37px;
			.logo {
				float: left;
				width: 50%;
				.main-logo {
					display: block;
					position: relative;
					overflow: hidden;
					background-image: url(../img/spriteAll.png);
					background-position: -238px 0px;
					width: 164px;
					height: 90px;
				}
				h1 {
					display: block;
					font-size: $font-h1;
					font-family: 'misprojectregular';
					letter-spacing: 1px;
					color: $color-h1;
					text-shadow: 0px 0px 8px black;
					float: left;
				}	  
				h5 {
					display: block;
					margin-top: 10px;
					font-size: $font-h1/2;
					font-family: 'akashiregular';
					color: $color-h5;
					letter-spacing: 3px;	
					text-shadow: 0px -1px 5px black;
					float: left;
				} 
			}
		}	
	}
}

// ================= эффект блеска логотипа ===========
.logo a{
	position: relative;
	display:block;
	float: left;
	width:164px;
	height: 90px;
	margin-right: 20px;
	background: none;
	background-position: -158px 0;
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
	&:hover, &:focus{
		background-position: 25px 0;
		transition: all 0.8s;
	}
	&::after {
		content:'';
		position: absolute;
		pointer-events: none;
		top:0; left:0; right:0; bottom: 0;
		background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
		background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
		background-position: inherit; 
		-webkit-mask: url(../img/iconWeb/MainLogo.png) center;
		mask: url('#mask-firefox');
	}
}

