@media (min-width: 481px) and (max-width: 768px) {
body {
	background: linear-gradient(to bottom, #27292f, white);
}
.wrapper {
	width: 440px;
	margin: 0px auto;
	box-shadow: 0px 0px 6px black;
	header {
		padding: 10px;
		height: 190px;
		background: #000;
		background-image: url(../img/fone-header.jpg);
		background-size: 100%;
		font-family: Georgia, sans-serif;
		color: white;
		.logo {
			width: 220px;
			display: block;
			position: relative;
			float: right;
			margin: 40px 0px 0px;
			height: 70px;
			color: white;
			overflow: hidden;
			h1 {
				font-size: 36px;
				text-transform: uppercase;
				span {
					font-size: 41px;
				}
			}
			h5 {
				font-size: 18px;
				letter-spacing: 0.5;
			}
		}
		.seurch {
			display: block;
			float: right;
			margin: 20px 0px 0px;
			fieldset {
				#s {
					display: block;
					height: 25px;
					width: 212px;
					padding-left: 11px; 
					background: #1f232c;
					border-radius: 10px;
					outline: none;
					border: none;
					float: right;
					color: white; 
				}
				#icon-search {
					position: relative;
					font-size: 12px;
					display: block;
					background: #11131a;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					border: none;
					outline: none;
					color: white;
					left: 205px;
					top: 2px;
					&:hover {
						cursor: pointer;
						background: gray;
					}
				}
			}	
		}	
		.menu {
			display: inline-block;
			position: absolute;
			margin-left: 10px;
			float: left;
			li {
				position: relative;
				display: block;
				a {	
					display: inline-block;
					width: 100px;
					margin: 2px 0px;
					padding: 8px;
					font-size: 8px;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 100;
					letter-spacing: 0em;
					color: white;
					background: #22252F;
					border-radius: 5px;
					box-shadow: 0px 0px 2px 0px white;
					&:hover {
						color: black;
						background: #CFC9C9;
					}
				}
			}
		}
	}
}

.banner{
	img {
		width: 440px;
		height: 160px;
	}
} 

}