@media (min-width: 769px) and (max-width: 960px) {
.image300-170 {
	height: 800px;
	padding: 0px 20px;
	font-family: Georgia, sans-serif;
	fieldset {
		border: 2px solid black;
		text-align: center;
		legend {
			padding: 10px;
			margin-bottom: 8px;
			font-size: 20px;
		}
		ul li {
			display: inline-block;
			height: 220px;
			width: 300px;
			background: #eeeeee;
			margin: 0px 0px 15px 0px;
			h4 {
				display: block;
				margin: 6px auto 4px;
				text-align: center;
				font-size: 13px;
				color: black;
				font-weight: 500;
			}
			p {
				display: block;
				color: #979797;
				font-size: 11px;
				margin: 0 auto;
			}
		}
		.marg-right {
			margin-right: 0px;
		}
	}
}

}
	