/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-partner-1 {
  background-image: url(spriteAll.jpg);
  background-position: -1200px -390px;
  width: 130px;
  height: 130px;
}
.icon-partner-2 {
  background-image: url(spriteAll.jpg);
  background-position: -1200px 0px;
  width: 130px;
  height: 130px;
}
.icon-partner-3 {
  background-image: url(spriteAll.jpg);
  background-position: -1200px -260px;
  width: 130px;
  height: 130px;
}
.icon-partner-4 {
  background-image: url(spriteAll.jpg);
  background-position: -1200px -130px;
  width: 130px;
  height: 130px;
}
.icon-slide-1-1 {
  background-image: url(spriteAll.jpg);
  background-position: -300px -400px;
  width: 300px;
  height: 400px;
}
.icon-slide-1-2 {
  background-image: url(spriteAll.jpg);
  background-position: -600px -400px;
  width: 300px;
  height: 400px;
}
.icon-slide-1-3 {
  background-image: url(spriteAll.jpg);
  background-position: -900px 0px;
  width: 300px;
  height: 400px;
}
.icon-slide-1-4 {
  background-image: url(spriteAll.jpg);
  background-position: -900px -400px;
  width: 300px;
  height: 400px;
}
.icon-slide-2-1 {
  background-image: url(spriteAll.jpg);
  background-position: 0px 0px;
  width: 300px;
  height: 400px;
}
.icon-slide-2-2 {
  background-image: url(spriteAll.jpg);
  background-position: -300px -800px;
  width: 300px;
  height: 400px;
}
.icon-slide-2-3 {
  background-image: url(spriteAll.jpg);
  background-position: -600px -800px;
  width: 300px;
  height: 400px;
}
.icon-slide-2-4 {
  background-image: url(spriteAll.jpg);
  background-position: -900px -800px;
  width: 300px;
  height: 400px;
}
.icon-slide-3-1 {
  background-image: url(spriteAll.jpg);
  background-position: 0px -800px;
  width: 300px;
  height: 400px;
}
.icon-slide-3-2 {
  background-image: url(spriteAll.jpg);
  background-position: 0px -400px;
  width: 300px;
  height: 400px;
}
.icon-slide-3-3 {
  background-image: url(spriteAll.jpg);
  background-position: -600px 0px;
  width: 300px;
  height: 400px;
}
.icon-slide-3-4 {
  background-image: url(spriteAll.jpg);
  background-position: -300px 0px;
  width: 300px;
  height: 400px;
}
