@media (min-width: 769px) and (max-width: 960px) {
  body {
    background: -webkit-linear-gradient(top, #27292f, white);
    background: linear-gradient(to bottom, #27292f, white); }
  .wrapper {
    width: 720px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px black; }
    .wrapper header {
      padding: 10px 20px;
      height: 130px;
      background: #27292f;
      background-image: url(../img/fone-header.jpg);
      background-size: 100%;
      font-family: Georgia, sans-serif;
      color: white; }
      .wrapper header .logo {
        display: block;
        float: left;
        margin: 5px 0px;
        height: 60px;
        color: white; }
        .wrapper header .logo h1 {
          font-size: 36px;
          text-transform: uppercase; }
          .wrapper header .logo h1 span {
            font-size: 46px; }
        .wrapper header .logo h5 {
          font-size: 12px;
          letter-spacing: 0.5; }
      .wrapper header .seurch {
        display: block;
        float: right;
        margin: 30px 0px 15px; }
        .wrapper header .seurch fieldset #s {
          display: block;
          height: 25px;
          width: 212px;
          padding-left: 11px;
          background: #1f232c;
          border-radius: 10px;
          outline: none;
          border: none;
          float: right;
          color: white; }
        .wrapper header .seurch fieldset #icon-search {
          position: relative;
          font-size: 12px;
          display: block;
          background: #11131a;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          border: none;
          outline: none;
          color: white;
          left: 205px;
          top: 2px; }
          .wrapper header .seurch fieldset #icon-search:hover {
            cursor: pointer;
            background: gray; }
      .wrapper header .menu {
        display: block;
        float: right;
        height: 20px; }
        .wrapper header .menu li {
          position: relative;
          display: inline-block; }
          .wrapper header .menu li a {
            display: inline-block;
            margin: 1px 7px 0px 4px;
            padding: 12px;
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 100;
            letter-spacing: 0em;
            color: white;
            background: #322828;
            border-radius: 8px;
            box-shadow: 0px 0px 2px 1px #725656; }
            .wrapper header .menu li a:hover {
              color: black;
              background: #CFC9C9; }
  .banner img {
    width: 720px;
    height: 281px; } }
