@import "../_variable-mixed.scss";

@media (min-width: 768px) and (max-width: 1439px) {

	.jcarousel-title {
		display: block;
		padding-top: 98px;
		font-size: 137.5%;
		font-family: $MontsBold;
		text-align: center;
		margin-left: 7px;
	}

	.wrap_jcarousel {
		width: 768px;
		margin: 0 auto;
		height: auto;
		padding: 36px 10px 10px;
		display: flex;
		justify-content: space-between;
		.jcarousel-left {
			.jcarousel {
				width: 235px;
				height: 400px;
				position: relative;
	  			overflow: hidden;
	    		border-radius: 5px;
				&-A {
					width: 20000em;
	    			position: relative;
					&-slide {
						display: block;
						float: left;
						width: 235px;
						height: 400px;
						background-image: url(../img/slide-1-1.jpg);
						background-position: center; 
						&-titleLittle {
							display: block;
							position: relative;
							z-index: 2;
							top: 213px;
							left: 20px;
							background: $color1;
							border-radius: 20px;
							width: 70px;
							height: 19px;
							color: white;
							text-transform: uppercase;
							text-align: center;
							font-family: $MontsReg;
							font-size: 62.5%;
							padding-top: 6px;
							letter-spacing: 0.5px; 
						}
						&-title {
							@extend .jcarousel-A-slide-titleLittle;
							top: 230px;
							font-family: $MontsBold;
							font-size: 150%;
							height: 56px;
							width: 172px;
							background: none;
							text-transform: none;
							text-align: left;
							padding-top: 0px; 
							letter-spacing: 0px; 
							line-height: 114%;
						}
						&-text {
							@extend .jcarousel-A-slide-title;
							top: 244px;
							font-family: $Roboto;
							font-size: 87.5%;
							font-weight: 300;
							height: 47px;
							width: 222px;
							background: none;
							line-height: 116%;

						}
					}
					&-slide-2 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-1-2.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color2;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-3 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-1-3.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color3;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-4 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-1-4.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color4;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
				}
				&-prev {
					display: inline-block;
					position: relative;
					top: -362px;
					left: 15px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
				&-next {
					@extend .jcarousel-prev;
					left: 139px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
			}
		}
		.jcarousel-centr {
			.jcarousel {
				width: 235px;
				height: 400px;
				position: relative;
	  			overflow: hidden;
	    		border-radius: 5px;
				&-A {
					width: 20000em;
	    			position: relative;
					&-slide {
						display: block;
						float: left;
						width: 235px;
						height: 400px;
						background-position: center; 
						background-image: url(../img/slide-2-1.jpg);
						&-titleLittle {
							display: block;
							position: relative;
							z-index: 2;
							top: 260px;
							left: 20px;
							background: $color1;
							border-radius: 20px;
							width: 70px;
							height: 19px;
							color: white;
							text-transform: uppercase;
							text-align: center;
							font-family: $MontsReg;
							font-size: 62.5%;
							padding-top: 6px;
							letter-spacing: 0.5px; 
						}
						&-title {
							@extend .jcarousel-A-slide-titleLittle;
							top: 276px;
							font-family: $MontsBold;
							font-size: 150%;
							height: 56px;
							width: 200px;
							background: none;
							text-transform: none;
							text-align: left;
							padding-top: 0px; 
							letter-spacing: 0px; 
							line-height: 114%;
						}
						&-text {
							@extend .jcarousel-A-slide-title;
							top: 260px;
							font-family: $Roboto;
							font-size: 87.5%;
							font-weight: 300;
							height: 47px;
							width: 205px;
							background: none;
							line-height: 116%;
							letter-spacing: 0.1px;
						}
					}
					&-slide-2 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-2-2.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color2;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-3 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-2-3.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color3;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-4 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-2-4.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color4;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
				}
					&-prev {
					display: inline-block;
					position: relative;
					top: -364px;
					left: 3px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
				&-next {
					@extend .jcarousel-prev;
					left: 146px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
			}
		}
		.jcarousel-right {
			.jcarousel {
				width: 235px;
				height: 400px;
				position: relative;
	  			overflow: hidden;
	    		border-radius: 5px;
				&-A {
					width: 20000em;
	    			position: relative;
					&-slide {
						display: block;
						float: left;
						width: 235px;
						height: 400px;
						background-position: center; 
						background-image: url(../img/slide-3-1.jpg);
							&-titleLittle {
							display: block;
							position: relative;
							z-index: 2;
							top: 213px;
							left: 20px;
							background: $color1;
							border-radius: 20px;
							width: 70px;
							height: 19px;
							color: white;
							text-transform: uppercase;
							text-align: center;
							font-family: $MontsReg;
							font-size: 62.5%;
							padding-top: 6px;
							letter-spacing: 0.5px; 
						}
						&-title {
							@extend .jcarousel-A-slide-titleLittle;
							top: 230px;
							font-family: $MontsBold;
							font-size: 150%;
							height: 56px;
							width: 172px;
							background: none;
							text-transform: none;
							text-align: left;
							padding-top: 0px; 
							letter-spacing: 0px; 
							line-height: 114%;
						}
						&-text {
							@extend .jcarousel-A-slide-title;
							top: 244px;
							font-family: $Roboto;
							font-size: 87.5%;
							font-weight: 300;
							height: 47px;
							width: 222px;
							background: none;
							line-height: 116%;

						}
					}
					&-slide-2 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-3-2.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color2;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-3 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-3-3.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color3;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
					&-slide-4 {
						@extend .jcarousel-A-slide;
						background-image: url(../img/slide-3-4.jpg);
						&-titleLittle {
							@extend .jcarousel-A-slide-titleLittle;
							background: $color4;
						}
						&-title {
							@extend .jcarousel-A-slide-title;
						}
						&-text {
							@extend .jcarousel-A-slide-text;
						}
					}
				}
				&-prev {
					display: inline-block;
					position: relative;
					top: -362px;
					left: 15px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
				&-next {
					@extend .jcarousel-prev;
					left: 139px;
					&:hover {
						cursor: pointer;
					}
					&-image {
						width: 41px;
						height: 58px;
					}
				}
			}
		}
	}
}


