* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: url(../img/background_4.jpg);
	/*width: 2400px;
	height: 2307px;*/
	display: flex;
	justify-content: center;
}
.list {
	width: 960px;
	height: 2307px; 	
	margin: 0 auto;
}
/*================ COLOR BACKGROUND =============*/
.black_background {
	position: absolute;
	top: 279px;
	height: 400px;
	width: 2400px;
	background: rgba(60, 43, 68,0.45);
}	
.purple_background {
	position: absolute;
	top: 847px;
	height: 342px;
	width: 2400px;
	background: linear-gradient(to top, #681193, #260236);
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #33253a;
}
.white_background {
	position: absolute;
	top: 1189px;
	height: 487px;
	width: 2400px;
	background: #f3f9b1;
}
.white_background_border {
	position: absolute;
	top: 1675px;
	height: 207px;
	width: 2400px;
	background: #f9f9f9;
	border-top: 2px solid #e6e6e6;
}
.grey_background {
	position: absolute;
	top: 1796px;
	height: 400px;
	width: 2400px;
	background: #ececec;
	border-top: 1px solid #d8d8d8;
}
.background_bot {
	position: absolute;
	top: 2193px;
	width: 2400px;
	height: 114px;
	background: url(../img/background_bottom_1..jpg);
}
/*============== HEADER =======================*/
header {
	padding-top: 66px;
}
.menu_logo, .menu_item_a {
	font-family: "league_gothicregular";
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 1px 2px black, 0 0 0em #978b8f;
}
.menu_logo {
	position: relative;
	display: inline-block;
	font-size: 46px;
}
.menu_logo h1 p {
	position: relative;
	display: inline-block;
	background: linear-gradient(#830bb7, #11deab);
	-webkit-background-clip: text; 
  	color: transparent;
  	text-shadow: none;
}
.menu_item {
	position: relative;
	display: inline-block;
	overflow: hidden;
	top: -1px;
	left: 124px;
	height: 29px;
}
.menu_li {
	position: relative;
	display: inline-block;
	margin-left: 49px;
	margin-right: -1px;
}
.menu_item_a {
	font-size: 23px;
	text-decoration: none;
	letter-spacing: 0.01em;
	word-spacing: 0.02em;
}
.menu_li:hover {
	border-bottom: 3px solid #edbfff;
}
/*=================== SLIDER ===============*/
.main {
	width: 960px;
	height: 491px;
	margin: 147px auto 0;
	position: relative;
}
.slider	{
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	top: 0px;
}
.main > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	font-family: "league_gothicregular";
	color: white;
	font-size: 20px;
	text-shadow: 0px 1px 2px black, 0 0 0em #978b8f;
}
.slides h2 {
	font-size: 58px;
	word-spacing: 0.9px;
	padding-left: 1px;
}
.slides h3 {
	font-size: 32px;
	color: #edbfff;
    text-transform: uppercase; 
}
.slide_1, .slide_2, .slide_3, .slide_4 {
	position: relative;
	display: inline-block;
	padding-top: 99px;
	width: 508px;
}
.slides img {
	position: absolute;
	display: inline-block;
	top: 2px;
	left: 616px;
}
.slide_1 iframe {
	position: absolute;
	top: 66px;
	left: 710px;
}
.slide_2 iframe {
	position: absolute;
	top: 33px;
	left: 683px;
}

.slide_1 p, .slide_2 p, .slide_3 p, .slide_4 p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.35;
	padding-top: 6px;
	word-spacing: -0.6px;
	font-size: 18px;
}
.main .controls {
	margin-top: 0px;
	margin-left: 705px;
	position: absolute;
	z-index: 5;
}
.main label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 26px 0 0 10px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: black;
}
.main label:after {
	border: 2px solid white;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.main label {
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide_1:checked ~ .slider > .slide_1,
#slide_2:checked ~ .slider > .slide_2,
#slide_3:checked ~ .slider > .slide_3,
#slide_4:checked ~ .slider > .slide_4 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/*=========================перелистывание======================*/
#active {
	margin: -25% 0 0 0px;
	width: 100%;
	height: 50px;
}
#active label {
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.6;
}
#active label:hover {
	opacity: 1;
}
#slide_1:checked ~ #active label:nth-child(2), 
#slide_2:checked ~ #active label:nth-child(3), 
#slide_3:checked ~ #active label:nth-child(4), 
#slide_4:checked ~ #active label:nth-child(1) {
	background: url(../img/next.png) no-repeat;
	float: right;
	margin: -40px -150px 0 0;
	display: block;
}
#slide_1:checked ~ #active label:nth-child(4),
#slide_2:checked ~ #active label:nth-child(1),
#slide_3:checked ~ #active label:nth-child(2),
#slide_4:checked ~ #active label:nth-child(3) {
	background: url(../img/prev.png) no-repeat;
	float: left;
	margin: -40px 0 0 -150px;
	display: block;
}
#slide_1:checked ~ .controls label:nth-child(1),
#slide_2:checked ~ .controls label:nth-child(2),
#slide_3:checked ~ .controls label:nth-child(3),
#slide_4:checked ~ .controls label:nth-child(4) { 
	background: white;
	border-color: #333 !important;
}


/*++++++++++++++++++ SECTION +++++++++++++++*/
section {
	position: relative;
	display: block;
	top: 0px;
	width: 980px;
	height: 438px;
	padding-top: 97px;
	overflow: hidden;
	float: left;
}
.section_about img {
	position: relative;
	display: block;
	float: left;
}
.section_about .icon {
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.left_about .icon {
	margin: 87px 0px 0px 13px;
}
.centre_about .icon {
	background-position: -25px 0;
	width: 28px;
	margin: 87px 0px 0px 29px;
}
.right_about .icon {
	background-position: -53px 0;
	margin: 87px 0px 0px 47px;
}
.section_about {
 	display: inline-block;
	float: left;
	overflow: hidden;
	width: 320px;
	height: 340px;
}
.right_about {
	width: 340px;
}
.left_about .section_about_item {
	padding: 77px 20px 20px 64px;
}
.centre_about .section_about_item {
	padding: 77px 0px 20px 82px;
}
.right_about .section_about_item {
	padding: 77px 0px 20px 99px;
}
.section_about h4 {
	font-family: "league_gothicregular";
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px black, 0 0 0em #978b8f;
}
.section_about p {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	text-shadow: 0px 1px 2px black, 0 0 0em #978b8f;	
	padding-top: 7px;
	line-height: 24px;
	word-spacing: -1.6px;
}
.section_about_item h5 {
	position: relative;
	text-transform: uppercase;
	padding-top: 4px;
	padding-left: 35px;
	font-size: 18px;
	color: white;
	font-family: "league_gothicregular";
}
.section_about_item h5:hover {
	text-shadow: 0px 0px 5px white, 0 0 0em #978b8f;
}
.left_about h5 {
	margin: 16px 0px 0px 125px;
}
.centre_about h5 {
	margin: 16px 0px 0px 129px;
}
.right_about h5 {
	margin: 16px 0px 0px 129px;
}
/*====================БЛОК БЕЛОГО ФОНА =========*/
.slider_end_recent {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 482px;
	width: 960px;
	padding-top: 129px;
}
/*=================== SLIDER LEFT WHITE==============*/
.block_white_right {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 300px;
	margin: 0 auto;
}
.fone_sender {
	position: absolute;
	top: -27px;
	left: -39px;
	z-index: -1;
}
.photo {
	position: absolute;
	display: inline-block;
	float: left;
	top: -11px;
	left: -63px;
}
.slider_white {
	top: 0px;
	left: 63px;
	width: 385px;
	height: 220px;
	position: relative;
	float: left;
}
.block_white_right > input {
	display: none;
}
.slides_white {
	height: inherit;
	position: absolute;
	width: 220px;
	font-family: "league_gothicregular";
	color: #454545k;
	font-size: 20px;
}
.slides_white h2 {
	font-size: 30px;
	word-spacing: 0.1px;
	padding-left: 0px;
	text-transform: uppercase;
}
.slides_white .pinker {
	color: #edbfff;
	text-shadow: 0px 1px 2px black, 0 0 0em black;
}
.slide_white_1,
.slide_white_2,
.slide_white_3,
.slide_white_4 {
	position: relative;
	display: inline-block;
	width: 370px;
}
.slide_white_1 p,
.slide_white_2 p,
.slide_white_3 p,
.slide_white_4 p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.45;
	padding-top: 9px;
	word-spacing: -1.2px;
	font-size: 17px;
}
.block_white_right .controls_white {
	margin-top: 245px;
	margin-left: 128px;
	position: absolute;
}
.block_white_right label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 26px 0 0 10px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: white;
}
.block_white_right label:after {
	border: 2px solid grey;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.block_white_right label {
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.block_white_right label:hover, 
#slide_white_1:checked ~ .controls_white label:nth-of-type(1),
#slide_white_2:checked ~ .controls_white label:nth-of-type(2),
#slide_white_3:checked ~ .controls_white label:nth-of-type(3),
#slide_white_4:checked ~ .controls_white label:nth-of-type(4) {
	background: grey;
}
.slides_white {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;		
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide_white_1:checked ~ .slider_white > .slide_white_1,
#slide_white_2:checked ~ .slider_white > .slide_white_2,
#slide_white_3:checked ~ .slider_white > .slide_white_3,
#slide_white_4:checked ~ .slider_white > .slide_white_4 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/*======================article =================*/
article {
	position: relative;
	display: inline-block;
	float: right;
	top: 0px;
	width: 451px;	
}
.smile_1, .smile_2, .smile_3 {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 23px;
	height: 60px;
}
.smile_1 {
	margin: 2px 19px 0px 4px;
} 
.smile_2 {
	margin: 4px 19px 0px 4px;
} 
.smile_3 {
	margin: 3px 19px 0px 4px;
} 
article li {
	height: 65px;
}
article h3 {
	font-family: "league_gothicregular";
	font-size: 30px;
	text-transform: uppercase;
	color: #454545;
	padding-left: 1px;
	margin-bottom: 16px;

}
article h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	padding-left: 68px; 
	font-weight: 700;
}
article p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5; 
}
article h5 {
	margin: 8px 0px 0px 347px;
	font-family: "league_gothicregular";
	font-size: 18px;
	text-transform: uppercase;
	color: #454545;
}
article h5:hover {
	text-shadow: 0px 0px 5px white, 0 0 0em #978b8f;
}
/*==============ASIDE=====================*/
aside {
	position: relative;
	width: 960px;
	height: 520px;
}
.logo_grey_768,
.logo_grey_480 {
	display: none;
}
.logo_grey {
	width: 960px;
	height: 94px;
	margin: 0 auto;
	margin-bottom: 26px; 
	position: relative;
	display: block;
	clear: both;
	z-index: 2;
	padding: 26px 0px 0px 94px;		
}
.grey_table {
	position: relative;
	display: block;
	width: 960px;
	height: 399px;
	margin: 0 auto;
	padding-top: 97px; 
}
.left_grey, .centre_grey, .right_grey {
	position: relative;
	display: inline-block;
	width: 33%;
	height: 290px;
	vertical-align: top;

} 	
.left_grey h1 {
	font-family: "league_gothicregular";
	font-size: 47px;
	color: #454545;
	text-transform: uppercase;
	padding-bottom: 14px;
}
.left_grey span {
	color: #b9b9b9;
	padding-bottom: 11px;
}
.left_grey h4 {
	display: none;
}
.left_grey h2 {
	margin-bottom: 12px;
	font-size: 16px;
	font-family: Georgia, Arial, sans-serif;
	font-style: italic;
	color: #aba9a9; 
}
.centre_grey h3,
.right_grey h3 {
	font-family: "league_gothicregular";
	font-size: 30px;
	color: #454545;
	text-transform: uppercase;
	margin-bottom: 11px;
}
.left_grey p,
.centre_grey p,
.right_grey p,
.grey_table h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.65em;
	font-weight: 100;
}
.centre_grey {
	padding-left: 16px;
	padding-right: 15px;
}
.right_grey {
	padding-left: 36px;
}
.left_grey {
	padding-right: 35px;
}
/*====================== FOOTER =============*/ 
footer {
	position: relative;
	display: block;
	width: 960px;
	height: 70px;
	padding-top: 42px;
}
.navi {
	position: relative;
	display: block;
	width: 960px;
	height: 50px;
	margin: 0 auto;
}
.navi .menu_li a {
	font-size: 20px;
}  
.navi .menu_li {
	margin-right: 38px;
	margin-top: 3px;
	margin-left: 0px;
	height: 25px;
}
.navi_designed {
	display: block;
	position: relative;
	top: -17px;
	left: 823px;
}
footer h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: white;
	font-weight: 100;
}
footer h6 span {
	font-weight: 900;
}




	

