/*@extend .wrap_jcarousel;*/

$MontsBold: 		'Montserrat Bold', Arial, sans-serif;
$MontsReg: 			'Montserrat Regular', Arial, sans-serif;
$Roboto: 			'Roboto', sans-serif;
$color1: 			#ff4e50;
$color2: 			#4e73db;
$color3: 			#1cd7ad;
$color4: 			#ffa507;
$color5: 			#cccccc;


