@import "_variable-mixed.scss";

.contact {
	border-top: $bord-bot-block;
	margin-top: 10px;
	padding: 40px 20px 25px;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	.contact-left {
		display: block;
		width: 470px;
		margin-right: 20px;
		ul li {
			display: block;
			margin: 20px 0px;
			height: 110px;
			a {
				display: block;
				float: left;
				width: 112px;
				height: 102px;
				background-image: url(../img/walt-disney.jpg);
				margin-right: 10px;
				border-radius: 5px;
				border: 6px solid #072C48;
				overflow: hidden;
				transition: all .5s;
				&:hover {
					border: 6px solid #A8A7A7;
					box-shadow: 0px 0px 4px red;
					transition: all .6s;
				}
			}
			.worn-bros-link {
				background-image: url(../img/Warner_bros.jpg);	
			}
			h5 {
				font-family: $font-default;
				font-weight: 900; 		
				display: block;
				padding: 10px;
				color: black;
				text-shadow: 1px 1px 4px white;
			}
			p {
				display: inline;
				text-align: left;
				color: $color-default - 10%;
				line-height: 1.05;
				padding: 5px;
				height: 150px;
			}
		}
		h4 {
			display: block;
			color: #C9D752;
			text-shdow: 0px 0px 3px gray;
			font-size: $fontSz + 5px;
			font-weight: 700;
		}
	}
	.contact-centr {
		width: 225px;
		display: inline-block;
		h4 {
			display: block;
			color: #C9D752;
			text-shdow: 0px 0px 3px gray;
			font-size: $fontSz + 5px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		ul {
			display: block;
			padding: 5px 3px;
			li {
				display: block;
				text-align: left;
				color: $color-default - 10%;
				line-height: 1.05;
				padding: 2px;
				font-size: $fontSz - 4px;
				h5 {
					color: gray;
					font-weight: 700;
				}
			}	
		}
	}
	.contact-right {
		h4 {
			display: block;
			color: #C9D752;
			text-shdow: 0px 0px 3px gray;
			font-size: $fontSz + 5px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		ul {
			display: block;
			li {
				input {
					display: block;
					width: 225px;
					height: 33px;
					border: none;
					outline: none;
					border-radius: 6px;
					margin-bottom: 10px;
					padding-left: 10px;
					color: black;
					background-color: #E3E5D7;
					&:focus {
						box-shadow: 0px 0px 4px #F07508;
						background-color: #FDD698;
					}
				}
				textarea {
					@extend input;
					height: 110px;
					&:focus {
						@extend input:focus;
					}
				}
			}
		}
		.button {
			display: block;
			background-color: #D005AC;
			border-radius: 5px;
			border: 1px solid #7E046B;
			box-shadow: 0px 0px 3px #FC77F1;
			width: 80px;
			height: 30px;
			font-size: $fontSz - 2px;
			color: white;
			text-shadow: 1px 1px 2px black;
			font-family: $font-1;
			font-weight: 700;
			transition: all .6s;
			&:hover {
				cursor: pointer;
				transition: all .6s;
				background: #F853B8;

			}  
		}
	}
}

.copyright-tamplate {
	display: flex;
	height: 60px;
	font-size: $fontSz - 2px;
	color: #818181;
	padding: 25px 20px;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 -12px 6px -4px #000;
	.copyright {
		margin-right: 360px;
	}
}