@font-face {
  font-family: 'hvd_posterregular';
  src: url("../fonts/hvd_poster-webfont.eot");
  src: url("../fonts/hvd_poster-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hvd_poster-webfont.woff2") format("woff2"), url("../fonts/hvd_poster-webfont.woff") format("woff"), url("../fonts/hvd_poster-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
