.social {
  position: relative;
  display: block;
  margin-top: 17px;
  float: right; }
  .social ul li {
    display: inline-block;
    float: left;
    margin: 0 10px; }
    .social ul li .icon-social-all {
      background-image: url(../img/spriteAll.png);
      display: inline-block;
      width: 32px;
      height: 32px; }

.icon-facebook {
  background-position: -550px -360px; }
  .icon-facebook:hover {
    background-position: -550px -328px; }

.icon-google {
  background-position: -582px -200px; }
  .icon-google:hover {
    background-position: -550px -200px; }

.icon-instagram {
  background-position: -550px -232px; }
  .icon-instagram:hover {
    background-position: -582px -296px; }

.icon-link {
  background-position: -582px -360px; }
  .icon-link:hover {
    background-position: -582px -328px; }

.icon-mail {
  background-position: -550px -264px; }
  .icon-mail:hover {
    background-position: -582px -232px; }

.icon-skype {
  background-position: -582px -264px; }
  .icon-skype:hover {
    background-position: -550px -296px; }
