#wrapper-information {
  width: 1160px;
  margin: 0 auto;
  clear: both;
  height: 350px;
  -ms-box-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white;
  border-radius: 5px; }
  #wrapper-information h1 {
    display: block;
    padding: 20px;
    font-family: 'hvd_posterregular', sans-serif;
    text-align: center;
    font-size: 40px;
    color: lightGray;
    text-shadow: 0px 0px 8px black; }
  #wrapper-information .information-block-all {
    display: inline-block;
    width: 24%;
    text-align: center; }
    #wrapper-information .information-block-all .information-image-all {
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      position: relative;
      background-image: url(../img/spriteBrowser.png);
      width: 200px;
      height: 200px;
      transition: 0.3s; }
      #wrapper-information .information-block-all .information-image-all:hover {
        cursor: pointer;
        opacity: 0.3;
        -ms-box-shadow: 0px 0px 10px white;
        box-shadow: 0px 0px 10px white; }
    #wrapper-information .information-block-all .information-link-all {
      display: inline-block;
      position: relative;
      padding-top: 10px;
      font-size: 20px;
      font-family: 'hvd_posterregular', 'Roboto', sans-serif;
      color: #D8D8D8;
      text-shadow: 1px -1px 5px black;
      text-decoration: none; }
      #wrapper-information .information-block-all .information-link-all:hover {
        color: gray;
        text-decoration: none; }

.information-image-1 {
  background-position: 0px 0px; }
  .information-image-1:hover {
    background-position: -200px 0px; }

.information-image-2 {
  background-position: 0px -200px; }
  .information-image-2:hover {
    background-position: -200px -200px; }

.information-image-3 {
  background-position: -400px 0px; }
  .information-image-3:hover {
    background-position: -400px -200px; }

.information-image-4 {
  background-position: 0px -400px; }
  .information-image-4:hover {
    background-position: -200px -400px; }
