#wrapper-blog-accordeon {
  width: 1160px;
  margin: 35px auto;
  border-right: 1px solid gray;
  border-left: 1px solid gray; }

.box-blog, .box-news-accordeon {
  display: inline-block;
  float: left;
  width: 60%;
  padding: 10px;
  box-shadow: -1px 1px 0px gray;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.2;
  color: #CDBBF5; }

.box-blog-news {
  display: block;
  padding: 20px;
  margin-bottom: 40px; }

.box-blog-news-2 img {
  background: gray; }

.box-blog h1, .box-news-accordeon h1 {
  display: block;
  text-align: center;
  font-family: 'akashiregular';
  font-size: 27px;
  color: gray;
  text-shadow: 0px 0px 3px black;
  text-transform: uppercase; }

.box-blog h5, .box-news-accordeon h5 {
  display: block;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  color: gray;
  margin-bottom: 12px;
  text-shadow: 0px 0px 3px black;
  text-transform: uppercase; }

.box-news-accordeon {
  box-shadow: 1px -1px 0px gray;
  width: 40%;
  height: 100%; }

.box-blog-news img {
  padding: 5px;
  margin-right: 15px;
  clear: both;
  display: block;
  float: left;
  border-radius: 10px; }

.box-news-accordeon h3 {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  background: #FCB95B;
  border: 1px solid black;
  margin-bottom: 3px;
  border-radius: 3px;
  outline: none;
  color: black;
  font-family: 'akashiregular';
  padding: 6px 0px 0px 25px; }

.box-news-accordeon h3:hover {
  background: gray;
  box-shadow: 0px 0px 4px pink; }

.box-news-accordeon p {
  margin: 8px 3px; }

.Python-Django {
  list-style-type: square;
  list-style-position: inside; }

#accordion {
  margin-top: 25px; }
