@charset "UTF-8";
nav {
  position: relative;
  width: 100%;
  height: 50px;
  background: #2E2E2E;
  margin-bottom: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 901;
  box-shadow: 0 19px 6px -12px #000; }
  nav:before, nav:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg); }
  nav:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  nav .nav-menu-wrapper .nav-menu a {
    text-decoration: none;
    color: #DAD7CD;
    text-shadow: 0px 0px 4px black; }
  nav .nav-menu-wrapper .nav-menu-title {
    display: block;
    float: left;
    width: 150px;
    height: 48px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
    font-family: "akashiregular";
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black; }
    nav .nav-menu-wrapper .nav-menu-title:hover {
      background: #8A8162; }
    nav .nav-menu-wrapper .nav-menu-title .nav-menu-link {
      display: block;
      height: 50px;
      width: 150px;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase; }
      nav .nav-menu-wrapper .nav-menu-title .nav-menu-link:hover {
        background: №665E45;
        color: #000; }
    nav .nav-menu-wrapper .nav-menu-title .nav-menu-item, nav .nav-menu-wrapper .nav-menu-title .nav-menu-item-sub {
      display: none;
      position: relative;
      width: 100%;
      background: #AEA78F;
      border-bottom: 1px solid black; }
    nav .nav-menu-wrapper .nav-menu-title .nav-menu-item-sub {
      position: absolute;
      width: 150px;
      left: 149px; }
    nav .nav-menu-wrapper .nav-menu-title .nmis-3-4 {
      top: 150px; }
    nav .nav-menu-wrapper .nav-menu-title .nmis-2-2 {
      top: 50px; }
    nav .nav-menu-wrapper .nav-menu-title .nav-menu-link-item,
    nav .nav-menu-wrapper .nav-menu-title .nav-menu-link-item-sub {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 50px;
      text-align: center;
      width: 150px; }
      nav .nav-menu-wrapper .nav-menu-title .nav-menu-link-item:hover,
      nav .nav-menu-wrapper .nav-menu-title .nav-menu-link-item-sub:hover {
        background: gray;
        color: #000;
        box-shadow: 0px 0px 5px black; }
