body {
  background: -webkit-linear-gradient(top, gray, black);
  background: linear-gradient(to bottom, gray, black);
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif; }

#wrapper-header-nav-news {
  width: 1160px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 137px;
  padding-top: 37px; }

.logo {
  float: left;
  width: 50%; }

.main-logo {
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  background-image: url(../img/spriteAll.png);
  background-position: -238px 0px;
  width: 164px;
  height: 90px; }

.logo h1 {
  display: block;
  font-size: 50px;
  font-family: 'misprojectregular';
  letter-spacing: 1px;
  color: black;
  text-shadow: 0px 0px 8px black; }

.logo h5 {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'akashiregular';
  color: darkgray;
  letter-spacing: 3px;
  text-shadow: 0px -1px 5px black; }
