@charset "UTF-8";
/*===============контактная инфа=====================*/
.contact-rights {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px; }
  .contact-rights .contact-rigthts-item {
    display: inline-block;
    float: left;
    width: 25%; }
    .contact-rights .contact-rigthts-item .crIcon {
      display: inline-block;
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 7px;
      background-image: url(../img/spriteAll.png); }
    .contact-rights .contact-rigthts-item .contact-rights-adres {
      background-position: -614px -216px; }
    .contact-rights .contact-rigthts-item .contact-rights-tel {
      background-position: -614px -248px; }
    .contact-rights .contact-rigthts-item .contact-rights-mail {
      background-position: -614px -232px; }
    .contact-rights .contact-rigthts-item .contact-rights-copy {
      background-position: -614px -200px; }
    .contact-rights .contact-rigthts-item .contact-rights-title {
      color: #595959;
      font-size: 14px; }

.contact-rights-item-4 {
  padding-left: 60px; }
