nav {
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
	background: #2E2E2E;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	z-index: 901;
}
.nav-menu a {
	text-decoration: none;
	color: #DAD7CD;
	text-shadow: 0px 0px 4px black;
}
/*============титулки менюшки============*/
.nav-menu-title {
	display: inline-block;
	float: left;
	height: 50px;
	width: 150px;
}
.nav-menu-title:hover {
	background: #8A8162;
}
.nav-menu-link {
	display: block;
	height: 50px;
	width: 150px;
	padding-top: 15px;
	text-align: center; 
}
.nav-menu-link:hover {
	background: №665E45;
	color: black;
}
/*==========меню первой и второй вложенностей=====*/
.nav-menu-link-item:hover {
	color: black;
}
.nav-menu-link-item {
	height: 50px;
	display: block;
	width: 150px;
}
/*========стили вертикальных блоков обоих=====*/
.nav-menu-item,
.nav-menu-item-sub {
	display: none;
	position: relative;
	width: 100%;
	background: #AEA78F;	
	border-bottom: 1px solid black;
	box
}
.nav-menu-item-sub {
	position: absolute;
	width: 150px;
	left: 150px;
}
.nav-menu-title {
	display: block;
	width: 150px;
	height: 48px;
	margin: 0 auto;
	color: black;
	font-size: 18px;
	font-family:'akashiregular';
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.nav-menu-title-item {
	display: block;
}
/*=====настройка горизонтальных блоков обоих уровней=======*/
.nav-menu-link-item,
.nav-menu-link-item-sub {
	display: block;
	padding-top: 15px;
	text-align: center; 
	height: 50px;
}
.nav-menu-link-item:hover,
.nav-menu-link-item-sub:hover {
	background: gray;
	color: black;
	box-shadow: 0px 0px 5px black;
}
/*===============положение второго уровня менюшек*/
.nmis-3-4 {
	top: 150px;
}
.nmis-2-2 {
	top: 50px;
}

/*============================================================*/
