article {
	display: inline-block;
	padding: 25px 5px 10px; 
	color: white;
}
.news-all {
	position: relative;
	display: inline-block;
	width: 33%;
	float: left;
	overflow: hidden;
}
.news-wrap-big {
	display: block;
	float: left;
	position: relative;
	margin: 0 15px 10px 0;
	overflow: hidden;
	height: 200px;
	width: 100px;
}
.news-big-all {
	display: block;
	height: 140px;
	width: 100px;
	background-image: url(../img/spriteAll.png);
}
.news-1-big {
  	background-position: 0px -200px;
}
.news-2-big {
  	background-position: -100px -200px;
}
.news-3-big {
  	background-position: -200px -200px;
}
.news-1-title {
	text-shadow: 1px -1px 2px #FA8258;
}
.news-2-title {
	text-shadow: 1px -1px 2px #01A9DB; 
}
.news-3-title {
	text-shadow: 1px -1px 2px #2EFE2E;
}
.news-title-all {
	display: block;
	color: black;
	font-size: 22px;
	margin-bottom: 10px;
}
.news-2, .news-3 {
	margin-left: 5px;
}
.news-small-all{
	display: inline-block;
	margin: 5px;
	width: 24px;
	height: 24px;
  	background-image: url(../img/spriteAll.png);
}
.news-1-small {
  background-position: -574px -392px;
}
.news-2-small {
  background-position: -598px -392px;
}
.news-3-small {
  background-position: -550px -392px;
}
.spolerLink, .spolerLink1, .spolerLink2 {
	font-family:'akashiregular';
	text-decoration: none; 
	border-bottom: 1px dashed;
	font-size: 17px;
	margin-left: 29%;
	font-weight: 700;
}
.spolerLink {
	color: #FA8258;
}
.spolerLink1 {
	color: #01A9DB; 
}
.spolerLink2 {
	color: #2EFE2E;
}
.spolerLink:hover, 
.spolerLink1:hover, 
.spolerLink2:hover {
	color: #FCE77F;
}
.spolerContent, .spolerContent1, .spolerContent2 {
	width: 100%;
	display: none; 
	padding: 3px 5px 10px 110px;
	color: #A9D0F5;
	line-height: 18px;
}
.news-content-active {
	width: 100%;
}
.news-text-all {
	line-height: 18px;
}
