@import "../_variable-mixed.scss";

@media (min-width: 1440px) {
	
	body {
		background-color: #ffffff;
		.wrapper {
			width: 1440px;
			height: auto;
			margin: 0 auto;
			background-color: #ffffff;
			box-shadow: 0px 0px 21px 1px rgba(0,0,0, .2);
		}
	}

}