/*сетка, установка BORDER-BOX*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*==================================== ОБЩИЕ СТИЛИ */
body {
	background: url(../jpg/fone_small_1.jpg);
	color: #888;
	font: 300 16px/22px Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
	color: #888;
 }
.container,
.container_1,
.grid {
	margin: 0 auto;
	width: 980px;
	background: white;
	padding-left: 45px;
	padding-right: 45px;
}
.container_1 {
	padding-top: 5px;
	padding-bottom: 25px; 
}
.logo {
	padding-top: 50px;
	padding-bottom: 40px;
}
.logo_1 {
	padding-left: 550px;
}

/*================================верхняя панелька*/
.href_4 {
	background: #484747;
	height: 40px;
	width: 890px;
}
.href_4 a {
	color: #d2c9f5;
	display: inline-block;
	width: 100px;
	margin: 1% 2%;
	font-size: 15px;
}
.href_4 a:hover {
	color: #a9b2b9;
}

/*============================сайдбар левый и контент*/
.sidebar {
	padding-top: 40px;
	width: 28%;
  	height: 400px;
  	font-size: 14px;
	line-height: 40px;
	text-align: left;
}
.content {
	width: 72%;
  	padding: 40px 0px 40px 46px;
}
.sidebar,
.content {
	display: inline-block;
	vertical-align: top;
}
.sidebar a:hover {
	display: block;
	color: #a9b2b9;
}
.btn:hover {
	background: #484747;
}

/*=============================нижняя панелька*/
.href_4_1 {
	background: #e1e1e1;
	height: 40px;
	width: 890px;
}
.href_4_1 a {
	color: #575252;
	display: inline-block;
	width: 100px;
	margin: 1% 2%;
	font-size: 15px;
}
.href_4_1 a:hover {
	color: #a9b2b9;
	text-decoration: underline;
}

.btn {
	border: 1.2px solid #dfe2e5;
	padding-left: 25px;
}
small {
	color: #575252;
	padding-left: 155px;
	font-size: 14px;
}

/*==============================левый блок*/
.span {
	padding: 35px 35px 0px;
	text-align: justify;
}
.picture {
	border: 1px solid #dfe2e5; 
	padding: 5px; 
}
.span,
.picture {
	display: inline-block;
	vertical-align: top;
}