/*@extend .wrap_jcarousel;*/
@media (min-width: 320px) and (max-width: 767px) {
  header {
    background-image: url(../img/bckg-header.png), -webkit-linear-gradient(bottom, #ED8E06, #3A2701);
    background-image: url(../img/bckg-header.png), linear-gradient(0deg, #ED8E06, #3A2701);
    background-size: cover;
    background-position-x: -405px;
    height: 540px;
    width: 100%;
    font-size: 100%;
    color: white; }
    header .horizontalTop {
      display: block;
      font-family: "Montserrat Bold", Arial, sans-serif;
      height: 115px;
      width: 100%; }
      header .horizontalTop-title {
        display: block;
        font-size: 125%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        top: 173px;
        left: 23%; }
      header .horizontalTop-user {
        display: block;
        position: relative;
        height: auto;
        width: auto;
        left: 23%; }
        header .horizontalTop-user-logIn, header .horizontalTop-user-signUp {
          height: 38px;
          width: 68px;
          margin: 0 2px;
          text-align: center;
          font-size: 87.5%;
          outline: none;
          border: none;
          border-radius: 39px;
          background: none;
          color: white;
          letter-spacing: 0.1px; }
          header .horizontalTop-user-logIn:hover, header .horizontalTop-user-signUp:hover {
            border: 3px solid white; }
        header .horizontalTop-user-signUp {
          width: 87px; }
        header .horizontalTop-user-input {
          display: none;
          position: absolute; }
          header .horizontalTop-user-input-login, header .horizontalTop-user-input-password {
            display: block;
            width: 170px;
            height: 35px;
            font-size: 110%;
            background: none;
            border-radius: 25px;
            border: 3px solid white;
            padding: 0 15px;
            margin: 11px 0px 0px;
            color: white;
            outline: none;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out; }
            header .horizontalTop-user-input-login:focus, header .horizontalTop-user-input-password:focus {
              outline: none;
              width: 210px; }
    header .horizontalBottom {
      display: block; }
      header .horizontalBottom-title {
        margin: 90px auto 0px;
        width: 320px;
        display: block;
        text-align: center; }
        header .horizontalBottom-title-big {
          display: block;
          font-family: "Montserrat Bold", Arial, sans-serif;
          font-size: 187.5%;
          line-height: 123%;
          padding-top: 15px;
          text-transform: uppercase; }
        header .horizontalBottom-title-little {
          display: block;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 112.5%;
          margin: 12px auto 17px;
          width: 218px;
          line-height: 112%; }
        header .horizontalBottom-title-button {
          background-color: #ff4e50;
          width: 279px;
          height: 40px;
          border-radius: 40px;
          border: none;
          outline: none;
          color: white;
          font-family: "Montserrat Bold", Arial, sans-serif;
          font-size: 87.5%;
          text-align: center;
          -webkit-transition: .3s all;
          transition: .3s all; }
          header .horizontalBottom-title-button:hover {
            background: rgba(0, 0, 0, 0.4);
            border: 2px solid #ff4e50;
            color: #ff4e50;
            box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.7);
            -webkit-transition: .3s all;
            transition: .3s all; } }
